.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 315px;
    text-align: center;
}

button {
    width: 75px;
    height: 75px;
    font-size: 25px;
}

.display {
    width: 310px;
    padding-right: 3px;
    border: 1px solid black;
    font-size: 50px;
    text-align: right;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display .top {
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: gray;
}

.calc {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

body {
    display: flex;
    justify-content: center;
    padding: 100px;
}